/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

/* Global styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

/* Header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 120px;
  background-color: #fcfbf4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header_title{
  display: flex;
  align-items: center;
  gap: 5px;
}
.header_title img{
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.header_title h2{
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
.search_container{
  display: flex;
  gap: 5px;
}
input{
  outline: none;
  padding: 8px 20px;
}